.main-header,
.main-nav,
.site-header,
.intro,
.portfolio {
  display: flex;
  flex-direction: column;
}

.intro {
  flex-direction: row;
}

.footer-logo {
  float: left;
}

.footer-links {
  float: right;
}

.call-out {
  font-weight: 800;
  padding-left: 1em;
}