.wrapper {
  width: 90%;
  margin: 0 auto;
}

.portfolio-wrapper {
  background-color: $white;
  width: 95%;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 3em;
}

.portfolio {
  display: flex;
  flex-direction: column;
}

.main-header {
  display: flex;
  flex-direction: column;

  @media #{$brk-wide} {
    flex-direction: column;
    justify-content: space-between;
  }
}

.site-header {
  display: flex;
  flex-direction: column;

  @media #{$brk-wide} {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer {
  &-logo {
    float: left;
  }

  &-links {
    float: right;
  }

  &-link {
    @media #{$brk-narrow} {
      display: none;
    }
  }

  &-nav {
    @media #{$brk-narrow} {
      display: inline;
    }

    li {
      @media #{$brk-narrow} {
        display: inline;
        padding-left: 1.5em;
        text-transform: uppercase;
        font-size: .8em;
      }
    }
  }
}

.call-out {
  font-weight: 800;
  padding-left: 1em;
}