.wrapper {
  width: 90%;
  margin: 0 auto;
}

.portfolio-wrapper {
  background-color: $white;
  width: 95%;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 3em;
}

.main-header,
.main-nav,
.site-header,
.intro,
.portfolio {
  display: flex;
  flex-direction: column;
}

.intro {
  flex-direction: row;
}

.footer-logo {
  float: left;
}

.footer-links {
  float: right;
}

.call-out {
  font-weight: 800;
  padding-left: 1em;
}