.image-wrapper {
  width: 80%;
  margin-top: 3em;
  margin-right: 2%;
  background-color: $gray-nickel;
  box-shadow: 2px 2px 8px $color-shadow;
  align-self: center;

  @media #{$brk-narrow} {
    order: 1;
    width: 50%;
    margin-left: 2em;
    align-self: flex-start;
    padding-top: .8em;    
  }

  @media #{$brk-wide} {
    width: 40%;
  }

    img {
    display: block;
    border-radius: 50%;
    margin: 2em auto;
    width: 50%;
    box-shadow: inset 2px 4px 8px $color-shadow;
  }
}

.portfolio {
  @media #{$brk-narrow} {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-piece {
    width: 100%;

    @media #{$brk-narrow} {
      width: 49%;
    }

    @media #{$brk-wide} {
      width: 32%;
      padding-bottom: 2em;
    }

    img {
      width: 100%;
      box-shadow: 2px 4px 8px $color-shadow-dark;
    }

    p {
      @media #{$brk-wide} {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}

.contact {
  padding-top: 2em;
  padding-bottom: 1em;

  @media #{$brk-narrow} {
    width: 70%;
    margin: 0 auto;
    font-size: 1.2em;
  }

  @media #{$brk-wide} {
    margin-top: 2em;
    padding-top: 2em;
    margin-bottom: 6em;
  }

  p {
    @media #{$brk-wide} {
      width: 80%;
      margin: 0 auto;
      font-size: 1.3em;
      line-height: 1.3;
    }
  }

  &-info {
    @media #{$brk-wide} {
      margin-top: 2em;
    }

    p {
      @media #{$brk-wide} {
        padding-bottom: 1em;
      }
    } 
  }
}