.main-header {
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.site-logo {
  align-self: center;

  @include tablet {
    width: 200px;
    padding-top: 1em;
  }

  @include desktop {
    margin-right: auto;
    width: 50%;
  }
}

.intro {
  @extend %column;

  @include tablet {
    display: flex;
    flex-direction: row;
  }

  @include desktop {
    margin-top: 0;
    display: flex;
    flex-direction: row;
  }

  p {
    align-self: center;
    text-align: center;
    font-size: $font-size-medium;
    line-height: 1.4;
    width: 50%;
    margin-top: 2em;

    @include tablet {
      width: 60%;
      text-align: left;
      font-size: $font-size-medium;
      line-height: 1.4;
      margin-right: auto;
      align-self: flex-start;
    }

    @include desktop {
      width: 55%;
      font-size: $font-size-large;
      line-height: 1.3;
    }
  }
}