a {
  text-decoration: none;
  color: $black;
}

h2 {
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-transform: uppercase;
  font-size: 1.1em;
}

.main-nav,
.footer-nav {
  list-style: none;
}

.main-nav a {
  display: block;
  font-size: .9em;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin-top: .5em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: $white;
  align-self: center;
  width: 100%;
}

.site-logo,
.main-nav,
.image-wrapper {
  align-self: center;
}

.intro p {
  align-self: center;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.4;
  width: 100%;
  margin-top: 2em;
}

.portfolio-piece {
  padding-top: 1em;
  
  h3 {
    font-weight: 600;
    font-size: 1.3em;
    text-align: center;
    line-height: 1.6;
  }
  
  p {
    font-size: 1.1em;
    width: 90%;
    margin: 1em auto;
    text-align: center;
    line-height: 1.6;
  }
}

.main-footer p {
  line-height: 1.6;
}
