%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%column {
    display: flex;
    flex-direction: column;
}

%row {
    display: flex;
    flex-direction: row;
}