// Descriptive color variables

$white          : #fff;
$black          : #000;
$grey           : #878787;
$sandwisp       : #F5F198;
$gray-nickel    : #C3C3BD;

// Functional color variables

$color-prime        : $sandwisp;
$color-sec          : $gray-nickel;

$color-text         : $black;
$color-shadow       : lighten($black, 40%);
$color-shadow-dark  : lighten($black, 60%);

// Font stacks

$stack-sans-serif   : Helvetica, Arial, sans-serif;
$stack-helvetica    : 'Helvetica Neue', $stack-sans-serif;

// Media query breakpoints

$brk-narrow : '(max-width: 768px)';
$brk-wide   : '(max-width: 1024px)';